{% extends "base.html" %}
{% load social %}
{% block title %}{{ page.title }} - {% endblock %}
{% block content %}
	<div class="post page-{{ page.id }}">
		<h1><a href="{{ page.permalink }}" rel="bookmark" title="Permanent Link to {{ page.title }}">{{ page.title }}</a></h1>

		{# Assuming the content is valid html and surrounded by <p> tags #}
		{{ page.content|safe }}

		<div class="meta">
			<div class="share">
				{% social "juice-social-share" page %}
			</div>

			<p class="links">
				Share:
			</p>
		</div>
	</div>
	<div class="clear"></div>
	{# Add comments here #}
{% endblock %}
