{% extends "base.html" %}

{% load humanize %}
{% load social %}
{% load taxonomy %}

{% block title %}{{ post.title }} - {% endblock %}
{% block content %}
	<div class="post post-{{ post.id }}">
		<h1><a href="{{ post.permalink }}" rel="bookmark" title="Permanent Link to {{ post.title }}">{{ post.title }}</a></h1>
		<p class="date">{{ post.published|naturalday:"F jS, Y"|capfirst }}</p>

		{# Assuming the content is valid html and surrounded by <p> tags #}
		{{ post.content|safe }}

		<span class="tagged">
			Published by {% if post.author %}{{ post.author }}{% else %}Anonymous{% endif %} on {{ post.published|date:"d.m.Y" }}
			{% if post.categories and post.tags %}
				in the following categories: {% taxonomy_list post.categories %} and tagged: {% taxonomy_list post.tags %}.
			{% else %}
				{% if post.categories %}
					in the following categories: {% taxonomy_list post.categories %}.
				{% else %}
					{% if post.tags %}
						and tagged: {% taxonomy_list post.tags %}.
					{% else %}
						.
					{% endif %}
				{% endif %}
			{% endif %}
		</span>

		<div class="meta">
			<div class="share">
				{% social "juice-social-share" post %}
			</div>

			<p class="links">
				<a href="{{ post.permalink }}" rel="bookmark" title="Permanent Link to {{ post.title }}">Permalink</a>, 
				<a href="{{ post.permalink }}#comments" title="Comment on {{ post.title }}">comment ({{ post.comments_count }})</a> 
				or share:
			</p>
		</div>
	</div>
	<div class="clear"></div>
	
	{# with post as obj #}
	{# include "comments_template.html" #}
	{# endwith #}

{% endblock %}
