<ul>
{% for item in global.navigation.main %}
	<li><a href="{{ item.url }}">{{ item.caption }}</a>
{% endfor %}
</ul>

listing:<br />

<style>
	.data td {
		border-top: dotted 1px #ccc;
	}
</style>

<table class="data">
	<tr>
		<th><input type="checkbox" /></th>
	{% for field in options.fields %}
		<th>{{ field|title }}</th>
	{% endfor %}
	</tr>

	{% for object in objects %}
	<tr>
			<td><input type="checkbox" /></td>
		{% for field in object.admin_fields %}
			<td><a href="{{ field.url }}">{{ field.caption }}</a></td>
		{% endfor %}
	</tr>
	{% endfor %}
	
	<tr>
		<th><input type="checkbox" /></th>
	{% for field in options.fields %}
		<th>{{ field|title }}</th>
	{% endfor %}
	</tr>
</table>
