/* Comments */
.comment-level-0 {
	margin-left: 0px;
}
.comment-level-1 {
	margin-left: 50px;
}
.comment-level-2 {
	margin-left: 100px;
}
.comment-level-3 {
	margin-left: 150px;
}
.comment-level-4 {
	margin-left: 200px;
}
.comment-level-5 {
	margin-left: 250px;
}

.comment-entry {
	float: left;
	width: 100%;
	clear: both;
	margin-bottom: 20px;
}

.comment-text {
	float: left;
}

.comment-text small {
	margin-top: -10px;
}

.comment-entry img {
	float: left;
	margin-right: 10px;
}

.comment-form input, .comment-form label, .comment-form textarea {
	float: left;
	clear: left;
}

.comment-form label {
	margin-top: 8px;
}

.comment-form input[type=submit] {
	margin-top: 10px;
	font-size: 18px;
}

.comment-form ul.errorlist {
	float: left;
	margin-top: 8px;
	margin-left: 8px;
	list-style: none;
	color: red;
}
