{% load chunks %}
{% load menu %}
<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="..." />
    <meta name="keywords" content="..." />

	<link rel="stylesheet" media="screen,projection" type="text/css" href="/static/css/juice.css" />
    <link rel="stylesheet" media="screen,projection" type="text/css" href="/static/css/reset.css" />
    <link rel="stylesheet" media="screen,projection" type="text/css" href="/static/css/main.css" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="/static/css/main-msie.css" /><![endif]-->
    <link rel="stylesheet" media="screen,projection" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" media="print" type="text/css" href="/static/css/print.css" />

    <title>{% block title %}{% endblock %} - {{ global.title }}</title>
</head>

<body>

<div id="main">
    <!-- Header -->
    <div id="header">

        <h1 id="logo"><a href="{{ global.home }}" title="[Go to homepage]"><img src="/static/tmp/logo.gif" alt="" /></a></h1>
        <hr class="noscreen" />

        <!-- Navigation -->
        <div id="nav">
			{% for entry in global.navigation.main %}
				<a href="{{ entry.permalink }}" {% ifequal request.path entry.permalink %}id="nav-active"{% endifequal %} class="{% menu_active request entry.permalink %}">{{ entry.title }}</a> {% if not forloop.last %}<span>|</span>{% endif %}
			{% endfor %}
        </div> <!-- /nav -->

    </div> <!-- /header -->
    
    <!-- Tray -->
    <div id="tray">

        <ul>
			{% for entry in global.navigation.tray %}
				<li class="{% menu_active request entry.permalink %}"><a href="{{ entry.permalink }}">{{ entry.title }}</a></li>
			{% endfor %}
            <!--<li id="tray-active"><a href="#">Homepage</a></li> <!-- Active page -->-->
        </ul>
        
        <!-- Search -->
        <div id="search" class="box">
            <form action="#" method="get">
                <div class="box">
                    <div id="search-input"><span class="noscreen">Search:</span><input type="text" size="30" name="" value="Search" /></div>
                    <div id="search-submit"><input type="image" src="/static/design/search-submit.gif" value="OK" /></div>
                </div>
            </form>
        </div> <!-- /search -->

    <hr class="noscreen" />
    </div> <!-- /tray -->

	{% block content %}
	{% endblock %}

    <hr class="noscreen" />

    <!-- Footer -->
    <div id="footer">

        <!-- Do you want remove this backlinks? Look at www.nuviotemplates.com/payment.php -->
        <p class="f-right">{% chunk "bottom-right" %}</p>
        <!-- Do you want remove this backlinks? Look at www.nuviotemplates.com/payment.php -->

        <p>{% chunk "bottom-left" %}</p>

    </div> <!-- /footer -->

</div> <!-- /main -->

</body>
</html>
