{% load taxonomy %}
{% load posts %}
{% load analytics %}

{% google_analytics UA-5187250-5 %}
{% yandex_metrica 12345 %}
index.html

<p>This page will contain a list of all posts and their excerpts (Posts Module):</p>

{% for post in posts %}
<p>
	<strong><a href="{{post.permalink}}">{{post.title}}</a></strong><br />
	<em>{{post.published}}</em><br />
	{% if post.excerpt %}
		{{post.excerpt|striptags}}
	{% else %}
		{{post.content|truncatewords:5|striptags}}
	{% endif %}
	<br /><small>Comments: {{post.comments_count}}</small>
</p>
{% endfor %}

<h3>Here's a contact form:</h3>
<form action="{% url front.views.index %}" method="POST" enctype="multipart/form-data">
{{contact_form}}
<input type="submit" />
</form>

<p><strong>And here are some pages:</strong></p>
{% include "snippets/pages_tree.html" %}

<p><strong>Here are the available categories for posts:</strong></p>
{% include "snippets/taxonomy_categories_tree.html" %}

<p><strong>And here are the tags:</strong></p>
<p>{% for tag in tags %}<a href="{{tag.permalink}}">{{tag.name}}</a>, {% endfor %}</p>

<p><strong>Here's a tag cloud:</strong></p>
<p>{% taxonomy_cloud tags %}</p>

<p><strong>Here's a categories cloud:</strong></p>
<p>{% taxonomy_cloud categories %}</p>

<p><strong>Here's a monthly post archive:</strong></p>
<p>{% posts_archive monthly %}</p>

<p><strong>Here's a yearly post archive:</strong></p>
<p>{% posts_archive yearly %}</p>

<p><strong>And of course a daily archive:</strong></p>
<p>{% posts_archive daily %}</p>
