{% extends "base.html" %}
{% load chunks %}
{% load taxonomy %}

{% block title %}Blog Posts{% endblock %}
{% block content %}
    
    {% for post in posts %}
    <div id="col-top"></div>
    <div id="col" class="box">
		<h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
		<div class="content">
			<p>{{ post.content|truncatewords:30|safe }}</p>
			<small>
				Published by {{ post.author }} on {{ post.published|date:"d.m.Y" }}
				{% if post.categories and post.tags %}
					in the following categories: {% taxonomy_list post.categories %} and tagged: {% taxonomy_list post.tags %}.
				{% else %}
					{% if post.categories %}
						in the following categories: {% taxonomy_list post.categories %}.
					{% else %}
						{% if post.tags %}
							and tagged: {% taxonomy_list post.tags %}.
						{% else %}
							.
						{% endif %}
					{% endif %}
				{% endif %}
			</small>
		</div>
    </div> <!-- /col -->
    <div id="col-bottom"></div>
    {% endfor %}
    
    <div id="col-top"></div>
	<div id="col" class="box">
		<div class="pagination">
			<span class="step-links">
				{% if paginator.has_previous %}
					<a href="{{ paginator.previous_link }}">&laquo; previous</a>
				{% endif %}

				<span class="current">
					Page {{ paginator.number }} of {{ paginator.paginator.num_pages }}.
				</span>

				{% if paginator.has_next %}
					<a href="{{ paginator.next_link }}">next &raquo;</a>
				{% endif %}
			</span>
		</div>
	</div>
    <div id="col-bottom"></div>
    
    
{% endblock %}
