<style>
	.feature-table {
		list-style: none;
	}
	
	.feature-table p {
		margin-top: 0;
	}
	
	.feature-table .li-header {
		font-size: 1.2em;
		color: black;
	}
</style>
<ul class="feature-table">
	<li>
		<span class="li-header">Written in Python</span><br />
		<p>Nunc pretium libero a mi ornare a interdum erat gravida. Sed sit amet tortor sit amet justo convallis ultricies. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur pharetra pellentesque neque, in pretium dolor dapibus nec. Phasellus fringilla imperdiet congue.</p>
	</li>
	<li>
		<span class="li-header">Powered by Django</span>
		<p>Quisque porttitor adipiscing nunc, ut mollis purus condimentum id. Aenean nisl dui, posuere at mattis at, mattis dapibus sem.</p>
	</li>
	<li>
		<span class="li-header">Multiple Database Choices</span>
		<p>Including Oracle, MySQL, Postresql &amp; <a href="#">many others</a>. Quisque porttitor adipiscing nunc, ut mollis purus condimentum id. Aenean nisl dui, posuere at mattis at, mattis dapibus sem.</p>
	</li>

</ul>
