<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="robots" content="all,follow" />

    <meta name="author" lang="en" content="All: Your name [www.url.com]; e-mail: info@url.com" />
    <meta name="copyright" lang="en" content="Webdesign: Nuvio [www.nuvio.cz]; e-mail: ahoj@nuvio.cz" />

    <meta name="description" content="..." />
    <meta name="keywords" content="..." />

    <link rel="stylesheet" media="screen,projection" type="text/css" href="css/reset.css" />
    <link rel="stylesheet" media="screen,projection" type="text/css" href="css/main.css" />
    <!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="css/main-msie.css" /><![endif]-->
    <link rel="stylesheet" media="screen,projection" type="text/css" href="css/style.css" />
    <link rel="stylesheet" media="print" type="text/css" href="css/print.css" />

    <title>Impress</title>
</head>

<body>

<div id="main">

    <!-- Header -->
    <div id="header">

        <h1 id="logo"><a href="./" title="[Go to homepage]"><img src="tmp/logo.gif" alt="" /></a></h1>
        <hr class="noscreen" />

        <!-- Navigation -->
        <div id="nav">
            <a href="#" id="nav-active">Homepage</a> <span>|</span>
            <a href="#">About us</a> <span>|</span>
            <a href="#">Support</a> <span>|</span>
            <a href="#">Contact</a>
        </div> <!-- /nav -->

    </div> <!-- /header -->
    
    <!-- Tray -->
    <div id="tray">

        <ul>
            <li id="tray-active"><a href="#">Homepage</a></li> <!-- Active page -->
            <li><a href="#">Live demo</a></li>
            <li><a href="#">About product</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Download</a></li>
            <li><a href="#">Purchase</a></li>
        </ul>
        
        <!-- Search -->
        <div id="search" class="box">
            <form action="#" method="get">
                <div class="box">
                    <div id="search-input"><span class="noscreen">Search:</span><input type="text" size="30" name="" value="Search" /></div>
                    <div id="search-submit"><input type="image" src="design/search-submit.gif" value="OK" /></div>
                </div>
            </form>
        </div> <!-- /search -->

    <hr class="noscreen" />
    </div> <!-- /tray -->

    <!-- Promo -->
    <div id="col-top"></div>
    <div id="col" class="box">
    
        <div id="ribbon"></div> <!-- /ribbon (design/ribbon.gif) -->
        
        <!-- Screenshot in browser (replace tmp/browser.gif) -->
        <div id="col-browser"><a href="#"><img src="tmp/browser.gif" width="255" height="177" alt="" /></a></div> 
        
        <div id="col-text">

            <h2 id="slogan"><span></span>Place for your slogan.</h2>
            
            <p>Lorem ipsum dolor sit amet, <strong>consectetuer adipiscing</strong> elit. Nunc feugiat. In a massa. In feugiat pharetra lacus.
            In non arcu nec libero pharetra rutrum. Curabitur hendrerit <a href="#">elementum diam</a>. Vestibulum mattistae sapien eu <a href="#">vehicula accumsan</a>,
            erat quam porttitor orci, id ornare est eros et arcu. In odio. Morbi eu nisia et dolor dictum elementum. Vivamus commodo sodales felis.
            Nulla gravida tristique metus.</p>
            
            <p id="btns">
                <a href="#"><img src="design/btn-tell.gif" alt="" /></a>
                <a href="#"><img src="design/btn-purchase.gif" alt="" /></a>
            </p>

        </div> <!-- /col-text -->
    
    </div> <!-- /col -->
    <div id="col-bottom"></div>
    
    <hr class="noscreen" />
    
    <!-- 3 columns -->
    <div id="cols3-top"></div>
    <div id="cols3" class="box">
    
        <!-- Column I. -->
        <div class="col">

            <h3><a href="#">Product I.</a></h3>
            
            <p class="nom t-center"><a href="#"><img src="tmp/200x140.gif" alt="" /></a></p>

            <div class="col-text">

                <p>Lorem ipsum dolor sit amet <a href="#">consectetuer</a> amit adipiscing elit. <strong>Nunc feugiat.</strong>
                Inam massa est feugiat <a href="#">pharetra</a> lacus. In non arcu nec liberom pharetra rutrum est.</p>
                
                <ul class="ul-01">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>

            </div> <!-- /col-text -->

            <div class="col-more"><a href="#"><img src="design/cols3-more.gif" alt="" /></a></div>

        </div> <!-- /col -->

        <hr class="noscreen" />

        <!-- Column II. -->
        <div class="col">

            <h3><a href="#">Product II.</a></h3>

            <p class="nom t-center"><a href="#"><img src="tmp/200x140.gif" alt="" /></a></p>

            <div class="col-text">

                <p>Lorem ipsum dolor sit amet consectetuer amit adipiscing elit. <strong>Nunc feugiat.</strong>
                Inam massa est feugiat <a href="#">pharetra</a> lacus. In non arcu nec liberom pharetra rutrum est.</p>

                <ul class="ul-01">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>

            </div> <!-- /col-text -->

            <div class="col-more"><a href="#"><img src="design/cols3-more.gif" alt="" /></a></div>

        </div> <!-- /col -->

        <hr class="noscreen" />

        <!-- Column III. -->
        <div class="col last">

            <h3><a href="#">Product III.</a></h3>

            <p class="nom t-center"><a href="#"><img src="tmp/200x140.gif" alt="" /></a></p>

            <div class="col-text">

                <p>Lorem ipsum dolor sit amet consectetuer amit adipiscing elit. <strong>Nunc feugiat.</strong>
                Inam massa est feugiat pharetra lacus. In non arcu nec liberom <a href="#">pharetra rutrum est</a>.</p>

                <ul class="ul-01">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>

            </div> <!-- /col-text -->

            <div class="col-more"><a href="#"><img src="design/cols3-more.gif" alt="" /></a></div>

        </div> <!-- /col -->

        <hr class="noscreen" />
    
    </div> <!-- /cols3 -->
    <div id="cols3-bottom"></div>

    <!-- 2 columns -->
    <div id="cols2-top"></div>
    <div id="cols2" class="box">
    
        <!-- Blog -->
        <div id="col-left">

            <div class="title">
                <span class="f-right"><a href="#" class="ico-rss">RSS feed</a></span>
                <h4>Blog</h4>
            </div> <!-- /title -->
            
            <ul class="ul-list nomb">
                <li><span class="f-right"><a href="#" class="ico-comment">45 comments</a></span> <span class="date">27.09.2008</span> <a href="#" class="article">Lorem ipsum dolor sit amet</a></li>
                <li><span class="f-right"><a href="#" class="ico-comment">45 comments</a></span> <span class="date">27.09.2008</span> <a href="#" class="article">Lorem ipsum dolor sit amet</a></li>
                <li><span class="f-right"><a href="#" class="ico-comment">45 comments</a></span> <span class="date">27.09.2008</span> <a href="#" class="article">Lorem ipsum dolor sit amet</a></li>
                <li><span class="f-right"><a href="#" class="ico-comment">45 comments</a></span> <span class="date">27.09.2008</span> <a href="#" class="article">Lorem ipsum dolor sit amet</a></li>
                <li><span class="f-right"><a href="#" class="ico-comment">45 comments</a></span> <span class="date">27.09.2008</span> <a href="#" class="article">Lorem ipsum dolor sit amet</a></li>
            </ul>
        
        </div> <!-- /col-left -->

        <hr class="noscreen" />

        <!-- Testimonials -->
        <div id="col-right">
        
            <h4><span>Testimonials</span></h4>

            <div class="box">
            
                <div class="col-right-img"><img src="tmp/65x65.gif" width="65" height="65" alt="" /></div>
                <div class="col-right-text">

                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc feugiat. <strong>In a massa.</strong> In feugiat pharetra lacus. In non arcu nec libero pharetra rutrum.</p>
                    <p class="high smaller">&ndash; <cite>John Doe, Some Corporation</cite></p>

                </div> <!-- /col-right-text -->
            
            </div> <!-- /box -->
        
        </div> <!-- /col-right -->
    
    </div> <!-- /cols2 -->
    <div id="cols2-bottom"></div>

    <hr class="noscreen" />

    <!-- Footer -->
    <div id="footer">

        <!-- Do you want remove this backlinks? Look at www.nuviotemplates.com/payment.php -->
        <p class="f-right"><a href="http://www.nuviotemplates.com/">Free web templates</a> presented by <a href="http://www.qartin.cz/">QARTIN</a> &ndash; Our tip: <a href="http://last-minute.invia.pl">Wakacje</a> <a href="http://dovolenka.invia.sk">Dovolenka</a></p>
        <!-- Do you want remove this backlinks? Look at www.nuviotemplates.com/payment.php -->

        <p>Copyright &copy;&nbsp;2008 <strong><a href="#">Your Name</a></strong>, All Rights Reserved &reg;</p>

    </div> <!-- /footer -->

</div> <!-- /main -->

</body>
</html>
