index.html

<p>This page will contain a list of all posts and their excerpts (News Module):</p>

{% for post in posts %}
<p>
	<strong><a href="{% url juice.front.views.single post.slug %}">{{post.title}}</a></strong><br />
	<em>{{post.published}}</em><br />
	{{post.excerpt}}
</p>
{% endfor %}

<p>And here are some pages:</p>
<ul>
{% for page in pages %}
	<li><a href="{{page.permalink}}">{{page.title}}</a></li>
	{% if page.subpages %}
	<ul>
	{% for subpage in page.subpages %}
		<li><a href="{{subpage.permalink}}">{{subpage.title}}</a></li>
	{% endfor %}
	</ul>
	{% endif %}
{% endfor %}
</ul>
