index.html

<p>This page will contain a list of all posts and their excerpts (News Module):</p>

{% for post in posts %}
<p>
	<strong><a href="{% url juice.front.views.single post.slug %}">{{post.title}}</a></strong><br />
	<em>{{post.published}}</em><br />
	{% if post.excerpt %}
		{{post.excerpt|striptags}}
	{% else %}
		{{post.content|truncatewords:5|striptags}}
	{% endif %}
</p>
{% endfor %}

<p><strong>And here are some pages:</strong></p>
{% include "snippets/pages_tree.html" %}

<p><strong>Here are the available categories for posts:</strong></p>
{% include "snippets/taxonomy_categories_tree.html" %}

<p><strong>And here are the tags:</strong></p>
<p>{% for tag in tags %}<a href="{{tag.permalink}}">{{tag.name}}</a>, {% endfor %}</p>
