{% load taxonomy %}
news-single.html

<p>This shows a single post from the News module</p>

<p>
	<strong>{{post.title}}</strong><br />
	<em>{{post.published}}</em><br />
	{{post.content}}<br /><br />
	Published by {{post.author}} in the following categories: {% taxonomy_categories post.terms %} and tagged {% taxonomy_tags post.terms %}<br />
</p>

<p>
	<strong>Comments:</strong><br/>
	{% for comment in post.comments %}
	<em>{{comment.author}}</em>: <small>{{comment.published}}</small> {{comment.content}}<br />
	{% endfor %}
</p>
